* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

body {
  
  /* background-color:#7f8c8d; */
  color: white;
  height: 100%;
  background-color: black;

}

.background {
  background-image: url(../img/wallpaper-panel-oscuro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
.header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #034574;
  transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}


#contactBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


#preFormContainer{
  border: 1px solid green;
  width: 45%;
}


#formContainer {
  width: 45%;
  border-radius: 10px;
  background-color:#6f859b;
  
}

#form {
  display: flex;
  flex-direction: column;
}

#formTitle {
  margin: 10%;
  text-align: center;
  color:#020201;
  font-size: 2.8em;
  font-weight: 600;
}

#formFieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBlocks {
  display: block;
  width: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.formLabels {
  margin-top: 4%;
  color: #102501;
  font-size: 1.5rem;
}


.formImputs {
  background-color: #c2c5cb;
  height: 3rem;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 5px;
  color: midnightblue;
}

.formImputs::placeholder {
  color: #102501;
  font-style: italic;
  font-size: 1.5rem;
}

#formButtonsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#formButton{
  width: 35%;
  height: 35%;
  background-color: #9e751c70;
  border-color: rgba(128, 128, 128, 0.265);
  width: 280px;
  border-radius: 5px;
  text-align: center;
  color: black;
  font-weight: 400;
  font-size: 30px;
  margin: 150px 2px;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  margin: 5%;
}

#formButton:hover{
  color: rgba(128, 128, 128, 0.265);
  background-color: white;
  color: black;

}










/* MOBILE */
@media (max-width: 768px) {


  .header {
    height: 60px;
    z-index: 4;
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #7f8c8d;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    overflow-x: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }


.buttonContact{
  background-color: rgba(128, 128, 128, 0.265);
  border-color: rgba(128, 128, 128, 0.265);
  width: 200px;
  border-radius: 5px;
  text-align: center;
  color: rgb(143, 142, 142);
  font-weight: 510;

  font-size: 20px;
  margin: 30px 2px;
  padding: 10px 15px;
  cursor:pointer;}
#contactBlock {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#preFormContainer {
  display: none;
}


#formContainer {

  width: 100%;
  /* margin-left: 5%; */
  border-radius: 10px;
  background-color:#6f859b;
}

#form {
  display: flex;
  flex-direction: column;
}

#formTitle {
  margin: 10%;
  text-align: center;
  color:#020201;
  font-size: 1.8em;
  font-weight: 600;
}

#formFieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBlocks {
  display: block;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.formLabels {
  margin-top: 4%;
  color: #102501;
}


.formImputs {
  background-color: #c2c5cb;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 5px;
  color: midnightblue;
}

.formImputs::placeholder {
  color: #102501;
  font-style: italic;
}

#formButtonsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}




#formButton{
  width: 50%;
  margin: 15px 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border-color: rgba(128, 128, 128, 0.265);
  color:black;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

#formButton:hover{
  background-color: #9e751c70;
  color: white;
  color: black;

}















}

/* responsive end */

h1 {
  font-size: 70px;
  /* margin: 200px; */
  padding-bottom: 20px;
  color: #7f8c8d;
  text-shadow: 2px 2px 2px #374647;
  text-align: center;
}
.principal {
/* flex-wrap: nowrap; */
flex-direction: column;
align-items: center;
padding: 30px;
color: #7f8c8d;
/* font-size: 30px; */
}

.title{
  height: 600px;
  /* padding: 100px 10vw; */
padding: 250px;
}


.buttonContact{
  background-color: rgba(128, 128, 128, 0.265);
  border-color: rgba(128, 128, 128, 0.265);
  width: 280px;
  border-radius: 5px;
  text-align: center;
  color: rgb(143, 142, 142);
  font-weight: 400;
  font-size: 30px;
  margin: 150px 2px;
  padding: 10px 15px;
  
}
.buttonContact:hover{
  background-color: #9e751c70;
  color: white;
}
.card_productora {
font-size: 25px;
text-align: center;
}



/* estilos para header en efecto scroll */
header.small {
  background-color: #7f8c8d;
  font-size: 10px;
}

/* estilos para para card de quien somos */
.card_about_us{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 35vh;
    margin: 350px 10vw;
    padding: 0px 10vw;
    background-color: #A08344;
    border-radius: 15px;
    color: white;
    z-index: 2;
    font-size: 24px;
    
    position: relative;
    bottom: 100px;

}
.card_about_us hr {
  border: 1px solid white;
  width: 90%;
}
.card_about_us p {
  text-align: center;}


#que_hacemos {
    background-color: black;
    flex-direction: column;
    align-items: center;
    color: #a1aaab;
    font-size: 25px;
    height: 100%;
    position:relative;
    bottom: 300px;
    /* margin-top: 100px; */

  }
 

.card_what_we_do {
  justify-content: space-evenly;
  align-items: center;
  /* height: 20vh; */
  padding: 30px 5vw;
  color: #a1aaab;  
  height: 100%;
}

.titles {
  font-size: 40px;
  padding:  0px 0px 20px;
  color: #7f8c8d;
text-align: center; 
}

.expertisse {
 align-items: center;
 width: 8%;

  /* height: 20%; */
}

.subt_que_hacemos {
  margin: 10px 40px 10px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animacion-activada {
  opacity: 1;
  transform: translateY(0);
}
/* //clases de iconos */
.fa-xmark{
  transition: opacity 0.5s ease-out, transform 1s ease-out;
}




/* CONTACTO */

#Contacto{
 margin: 50px 100px 50px;
 
}

/* FOOTER */